@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.topRating .swiper-button-prev::after {
  color: rgb(255, 255, 255) !important;
  height: 40px !important;
  width: 40px !important;
  font-size: 12px !important;
  padding: 20px !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22c55e;
  opacity: 0;
  transition: .5s;
}



.topRating .swiper-button-next::after {
  color: rgb(255, 255, 255) !important;
  height: 40px !important;
  width: 40px !important;
  font-size: 12px !important;
  padding: 20px !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34 197 94);
  opacity: 0;
  transition: .5s;
}

.topRating .swiper {
  margin: 0 auto !important;
  padding: 0 0px 50px 0px !important;
  overflow: hidden !important;
  box-shadow: 0px 0px 0px 0px !important;
}

.topRating .swiper:hover  .swiper-button-prev::after , .topRating .swiper:hover .swiper-button-next::after {
  opacity: 1;
}



.topRating .swiper-pagination-bullet-active {
  background:rgb(34 197 94) !important;

}

.topRating .swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
}


.custom-spin .ant-spin-dot-spin {
  color: rgb(34 197 94) !important;
}